body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #101211;
    color: #fff9f9;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:link,
a:visited {
    text-decoration: none
}

h1 {
    margin: 0;
}

nav ul {

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(229, 233, 246);
    padding: 10px 20px;
    display: inline-block;
}

nav a:hover {
    background-color: #040000;
}

#loginBtn,
#signupBtn {
    text-decoration: none;
    padding: 4px 8px;
    font-size: 1.2em;
    background-color: #fff;
    color: #030207;
    border: none;
    cursor: pointer;
    border-radius: 4px;





}



form {
    display: none;
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(11, 0, 0, 0.1);
    border-radius: 8px;
}

#searchForm {
    display: flex;
    max-width: 300px;
}

#searchForm button {}

form label {
    display: block;
    margin-bottom: 8px;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {

    background-color: rgb(92, 140, 237);
    color: #2a1111;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}

form button:hover {
    background-color: #efe2e2;
}

form .close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: #fff;
    color: #007bff;
    border: none;
    cursor: pointer;


}


.hero {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 2em;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.hero button {
    padding: 12px 24px;
    font-size: 1.2em;
    background-color: #fff;
    color: #030207;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}


.hero button:hover {
    background-color: #e8ecf1;
}

.featured-jobs {
    background-color: #f5ebeb;
    padding: 50px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.job-listing {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;

}

.job-listing button {
    padding: 4px 4px;
}



footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}


button {
    cursor: pointer;
}

/* Additional styling for the updated structure */
nav ul,
div ul {
    display: flex;
    align-items: center;
}

div ul li {
    margin-left: 20px;
}